<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      text-align: center;
      font-family: "Roboto", sans-serif;
      margin-bottom: 100px;
    }

    button {
      font-size: larger;
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <br />

  <form action="/mystore/login/" style="margin-right: 100px; text-align: right">
    {% csrf_token %}
    <span>Hello, {{all_customers.firstname}} </span>
    <span style="margin-left: 20px;"><a href="{% url 'logout' %}">Logout</a></span>
  </form>
  <br>


  <h1 style="text-align: center;">Manager Dashboard</h1>

  <br />

  <form action="/mystore/browsebook/" method="POST" style="text-align: center;">
    {% csrf_token %}
    <button type="submit">browse books</button>
  </form>
  <br />
  <br />

  <form action="/mystore/browsecustomer/">
    {% csrf_token %}
    <button type="submit">browse customers</button>
  </form>
  <br />
  <br />

  <form action="/mystore/recommendedbooks/" method="POST">
    {% csrf_token %}
    <button type="submit">recommended books for you</button>
  </form>
  <br />
  <br />

  <form action="/mystore/degreeofseprsearch/">
    {% csrf_token %}
    <button type="submit">degree of seperation search for authors</button>
  </form>
  <br />
  <br />

  <form action="/mystore/stockmanage/">
    {% csrf_token %}
    <button type="submit">stock manage for managers</button>
  </form>
  <br />
  <br />

  <form action="/mystore/statistics/" method="POST">
    {% csrf_token %}
    <button type="submit">statistics for managers</button>
  </form>
  <br />
  <br />

  <form action="/mystore/managerdata/">
    {% csrf_token %}
    <button type="submit">manager profiles</button>
  </form>

  <br>
  <br>

  <form action="/mystore/orderhistory/" method="POST">
    {% csrf_token %}
    <button type="submit">Check Order Histroy</button>
  </form>
  <br />
  <br />

  <form action="/mystore/deliverystatus/" method="POST">
    {% csrf_token %}
    <button type="submit">Update Delivery status</button>
  </form>

  <br>
  <br>
  <form action="/mystore/requestbook/" method="POST">
    {% csrf_token %}
    <button type="submit">request book</button>
  </form>

  <br>
  <br>
  <form action="/mystore/requestbstatus/" method="POST">
    {% csrf_token %}
    <button type="submit">Update requested book status</button>
  </form>

</body>

</html>